<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/x-icon" href="../images/favicon.ico">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Covid 19 Statistics</title>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="static/css/styles.css">
  <link rel="stylesheet" type="text/css" href="static/css/main.css">

  <!-- Javascript -->
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>

<body onload="loadPage({{states}},{{continents}},{{countries}});">

  <!-- NAVIGATION control>-->
  <div class="container">
    <div class="row">
      <div class="col-4 divtop">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
          <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
          </div>
        </nav>
      </div>
    </div>
  </div>
 <!-- <End OF nav controls> -->

  <div class="row"><br>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
      </div>

      <div class="col-md-8">
        <div class="logo">
          <img src="../static/images/COVIDsTATS.png" style="width: 100%; height: auto" alt="COVID">
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
    <div class="row"><br></div>
    <div class="row">
      <!-- <div class="col-md-12"> -->
      <div class="col-md-3">
      </div>
      
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div align="center">
          <div class="container-fluid">
            <div class="panel panel-primary" id="panel-id">
              <div class="panel-heading">
                <h3 id="panel-title">WORLD OWID DATA</h3>
              </div>
              <div id="covid" class="panel-body"></div>

              <div id="covid-table"></div>
              <div>
                <form action={{url_for('query_Continent')}} method="POST">
                  <h2>Search by Continent</h2>
                  <select id="Continents_Drop_Down_tag" name="selected_continent"></select></br>
                  Start Date: <input name="start_date_continent"></text></br>
                  End Date: <input name="end_date_continent"></text></br>
                  <button type="submit" href="/query_Continent">GET RESULTS!</button>
                </form>
              </div>
              <div>
                <form action={{url_for('query_Country')}} method="POST">
                  <h2>Search by Country</h2>
                  <select id="Country_Drop_Down_tag" name="selected_country"></select></br>
                  Start Date: <input name="start_date_country"></text></br>
                  End Date: <input name="end_date_country"></text></br>
                  <button type="submit" href="/query_Country">GET RESULTS!</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div align="center">
          <div class="container-fluid">
            <div class="panel panel-primary" id="panel-id">
              <div class="panel-heading">
                <h3 id="panel-title">USA CDC DATA</h3>
              </div>
              <div id="covid" class="panel-body"></div>

              <div></div>
              <div>
                <form action={{url_for('query_USA')}} method="POST">
                  State: <select id="State_Drop_Down_tag" name="selected_state"></select></br>
                  Start Date: <input name="start_date"></text></br>
                  End Date: <input name="end_date"></text></br>
                  <button type="submit" href="/query_USA">GET RESULTS!</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
    </script>
</body>

</html>