<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/x-icon" href="../images/favicon.ico">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Covid 19 Statistics</title>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.1/leaflet.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.1/leaflet.css" />
  <link rel="stylesheet" type="text/css" href="static/css/styles.css">
  <link rel="stylesheet" type="text/css" href="static/css/main.css">

  <!-- Javascript -->
  <script src="{{ url_for('static', filename='js/Queried_Data.js') }}"></script>
</head>

<body onload="getCharts({{json_data}}); buildMap({{map_data}});">

  <!-- NAVIGATION control>-->
  <div class="container">
    <div class="row">
      <div class="col-4 divtop">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
          <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
          </div>
        </nav>
      </div>
    </div>
  </div>
 <!-- <End OF nav controls> -->

  <div class="row"><br>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
      </div>

      <div class="col-md-8">
        <div class="logo">
          <img src="../static/images/COVIDsTATS.png" style="width: 100%; height: auto" alt="COVID">
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
    <div class="row"><br></div>
    <div class="row">
      <!-- <div class="col-md-12"> -->
      <div class="col-md-3">
      </div>
      
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div align="center">
          <div class="container-fluid">
            <div class="panel panel-primary" id="panel-id">
              <div class="panel-heading">
                <h3 id="panel-title">Covid </h3>
              </div>
              <div id="covid" class="panel-body"></div>

              <div id="summary_data"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div align="center">
          <div class="container fluid">
            <div>
              Total Cases: <input type="checkbox" id="total_Cases" onchange="getCharts({{json_data}});">
              New Cases: <input type="checkbox" id="new_Cases" value="True" onchange="getCharts({{json_data}});">
              Total Deaths: <input type="checkbox" id="total_Deaths" value="True" onchange="getCharts({{json_data}});">
              New Deaths: <input type="checkbox" id="new_Deaths" value="True" onchange="getCharts({{json_data}});">
            </div>
            <div id="graph"></div>
          </div>
        </div>
      </div>
    </div>
    <div id="map" style="height:500px"></div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
    </script>
</body>

</html>